body {
    font-family: Arial, sans-serif;
    background-color: #f0f7ff; /* Light blue background */
    color: #333; /* Dark text color */
    margin: 0;
    padding: 10;
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Ensure the body covers the entire viewport height */
}

.container {
    max-width: 600px; /* Adjust the max-width as needed */
    width: 100%; /* Ensure the container takes up the available width */
    padding: 20px;
    box-sizing: border-box; /* Include padding in the width calculation */
}

h1 {
    color: #0366d6; /* Blue heading color */
    flex-direction: column-reverse;
    padding-bottom: 30px;
}

form {
    margin-top: 20px;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack child elements vertically */
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #0366d6; /* Blue border */
    border-radius: 5px;
    resize: none;
}

button {
    background-color: #0366d6; /* Blue button background */
    color: #fff; /* White button text color */
    border: 1;
    padding: 10px 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 9px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005cbf; /* Darker blue on hover */
}

button:focus {
    outline: none; /* Remove button focus outline */
}

/* CSS for Navigation Buttons */
.nav-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #0366d6;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #005cbf;
}
/* CSS for Navigation Buttons */
.nav-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #0366d6;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #005cbf;
}
